# Supabase (Database)
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

# OpenAI (ChatGPT AI Master)
OPENAI_API_KEY=

# Server
PORT=4000

# Client
NEXT_PUBLIC_SERVER_URL=http://localhost:4000
NEXT_PUBLIC_ONECHAIN_NETWORK=testnet
NEXT_PUBLIC_ONECHAIN_RPC_URL=https://rpc-testnet.onelabs.cc:443
NEXT_PUBLIC_ONECHAIN_PACKAGE_ID=0x8cca22099fe19bd90cbed43fb2573a90f8bc43100f1d639bc4bee93486c833b7
NEXT_PUBLIC_ONECHAIN_REGISTRY_ID=0xdd2a58cbcd10e71b186cf8779a1f4e360c4a385fa2548a8dda51922d5e20d833
NEXT_PUBLIC_ONECHAIN_ADMIN_CAP_ID=0x20fc57100cdb9043f65b69133426f768b822048dcbd2314e36f4532a71d9f7d2
NEXT_PUBLIC_ONECHAIN_UPGRADE_CAP_ID=0xac4c55600a7622bc0164ec950a7bb3b6853337656ad92c421fd8f7a8e798077a
NEXT_PUBLIC_ONECHAIN_DEPLOY_TX_DIGEST=4mVpabfsJptzT4iuTjCgvJgnkUgtSN5BJd3d29QamZKy

# IPFS Configuration (Filebase)
IPFS_API_KEY=
IPFS_ACCESS_KEY_ID=
IPFS_SECRET_ACCESS_KEY=
IPFS_BUCKET=nft-dnd-assets

# OneChain Economy (ONE)
NEXT_PUBLIC_HERO_SBT_MINT_FEE_ONE=0.25
NEXT_PUBLIC_ADVENTURE_ENTRY_FEE_ONE=0.12
NEXT_PUBLIC_GENERATION_FEE_ONE=0.04
NEXT_PUBLIC_NFT_MINT_RESERVE_ONE=0.08

# OneChain
ONECHAIN_NETWORK=testnet
ONECHAIN_RPC_URL=https://rpc-testnet.onelabs.cc:443
ONECHAIN_FAUCET_URL=https://faucet-testnet.onelabs.cc:443
ONECHAIN_PACKAGE_ID=0x8cca22099fe19bd90cbed43fb2573a90f8bc43100f1d639bc4bee93486c833b7
ONECHAIN_REGISTRY_ID=0xdd2a58cbcd10e71b186cf8779a1f4e360c4a385fa2548a8dda51922d5e20d833
ONECHAIN_ADMIN_CAP_ID=0x20fc57100cdb9043f65b69133426f768b822048dcbd2314e36f4532a71d9f7d2
ONECHAIN_UPGRADE_CAP_ID=0xac4c55600a7622bc0164ec950a7bb3b6853337656ad92c421fd8f7a8e798077a
ONECHAIN_DEPLOY_TX_DIGEST=4mVpabfsJptzT4iuTjCgvJgnkUgtSN5BJd3d29QamZKy

# DicePack Relayer
DICEPACK_RELAYER_KEY=
