# Supabase (Database)
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

# OpenAI (ChatGPT AI Master)
OPENAI_API_KEY=

# Server
PORT=3001

# Client
NEXT_PUBLIC_SERVER_URL=http://localhost:3001
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000

# IPFS Configuration (Filebase)
IPFS_API_KEY=

# OneChain
ONECHAIN_NETWORK=testnet
ONECHAIN_RPC_URL=https://rpc-testnet.onelabs.cc:443
ONECHAIN_FAUCET_URL=https://faucet-testnet.onelabs.cc:443
